
fastapi[standard]==0.116.1
uvicorn[standard]==0.35.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt<4.1.0
python-multipart==0.0.20
pydantic==2.11.1
pydantic-core>=2.19.0
PyPDF2==3.0.1
PyMuPDF==1.23.9
python-docx==1.2.0
aiofiles==24.1.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10
psycopg2==2.9.10
pydantic-settings==2.2.1
alembic==1.16.4
rich==14.1.0
SQLAlchemy==2.0.42
google-cloud-storage==3.3.0

